.username-review{
  color: lightblue;
  font-weight: 800;
}

.content-review{
  color: #00adec;
  width: 32rem;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

.username-rating-container {
  height: 25px;
  width: 80%;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.rating-review {
  padding: 20px;
  font-weight: bold;
  color: white;
}

#review-content-container {
  width: 500px;
  padding-top: 5px;
}

.rating-container-red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 35%;
  background-color: red;
}

.rating-container-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 35%;
  background-color: darkgoldenrod;
}

.rating-container-green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 35%;
  background-color: green;
}
