.radio-label{
  color: lightblue;
}

td {
  color: white;
}

th {
  color: white;
  font-weight: 900;
  font-style: italic;
}

.tiny-cover-image{
  box-sizing: border-box;
  width: 100px;
  height: 125px;
}

.game-shelf-portal {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.game-shelf-portal:hover{
  text-decoration: underline;
}

.game-row{
  background-color:#252733;

}