.radio-label{
  color: lightblue;
}

.radio-label:hover{
  cursor: initial;
}

td {
  color: white;
}

th {
  color: white;
  font-weight: 900;
  font-style: italic;
}

.tiny-cover-image{
  box-sizing: border-box;
  width: 100px;
  height: 125px;
}

.game-shelf-portal {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.game-shelf-portal:hover{
  text-decoration: underline;
}

.game-row{
  background-color:#252733;
}

#inner-shelf-select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#special-button-for-reshelf{
  font-size: 9px;
  background: transparent;
  border: none;
  margin: 3px;
  color: lightblue;
}

#special-button-for-reshelf:hover{
  text-decoration: underline;
}
