#game-browser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1300px;
}

.game-card {
  margin: 16px;
  padding: 10px;
}
.game-card > * {
  box-sizing: border-box; 
  width: 200px;
  height: 270px;
}