#game-browser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 65rem;
  background-color: #252733;
  min-height: 800px;
}
#gamesearch{
  width: 30rem;
}
.game-card {
  margin: 16px;
  padding: 10px;
}
.game-card > * {
  box-sizing: border-box; 
  width: 200px;
  height: 270px;
}

.browser-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}