#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}


#modal-content-gameDetails {
  position: absolute;
  background-color:#1f2126;
  width: 50rem;
  height: 35rem;
  color: #00adec;
  border-radius: 12px;
  overflow: auto;
}


#modal-content-editShelf {
  position: absolute;
  background-color:#171a21;
  width: 30rem;
  height: 25rem;
  overflow: auto;
}

#modal-content-review {
  position: absolute;
  background-color:#171a21;
  width: 40rem;
  height: auto;
}

#modal-progress-update {
  position: absolute;
  background-color:#171a21;
  width: 12rem;
  height: auto;
}

#modal-about-me {
  position: absolute;
  background-color:#171a21;
  width: 20rem;
  height: auto;
}