#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}


#modal-content-gameDetails {
  position: absolute;
  background-color:#1f2126;
  width: 1000px;
  height: 700px;
  color: #00adec;
  border-radius: 12px;
  overflow: auto;
}


#modal-content-editShelf {
  position: absolute;
  background-color:#171a21;
  width: 550px;
  height: 500px;
  overflow: auto;
}

#modal-content-review {
  position: absolute;
  background-color:#171a21;
  width: 500px;
  height: 340px;
  overflow: auto;
}

#modal-progress-update {
  position: absolute;
  background-color:#171a21;
  width: 270px;
  height: 170px;
  overflow: auto;
}

#modal-about-me {
  position: absolute;
  background-color:#171a21;
  width: 20rem;
  height: 170px;
  overflow: auto;
}