#shelf-view {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#hp-lists{
  position: sticky;
  width: 150px;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 40px;
}


#hp-games{
  margin-left: 50px;
}