.detail-cover-art {
  width: 250px;
  height: 320px;
}

.top-half-details {
  display: flex;
  flex-direction: row;
}

.bottom-half-details {
  display: flex;
  flex-direction: row;

}

.title-context-div {
  padding: 12px;
  padding-left: 27px;
}

.listed-details {
  font-style: italic;
  padding: 4px;
}

.detail-names {
  margin-left: 9px;
  padding: 2px;
}

.add-to-shelf-btn {
  margin-left: 9px;
  padding: 2px;
  background: transparent;
  color: #00adec;
  border: 1px solid #00adec;
  cursor: pointer;
}

.extra-details-div {
  width: 280px;
}

.cancel-btn {
  background: transparent;
  color: #00adec;
  border: 1px solid #00adec;
  cursor: pointer;
}

.detail-shelfname {
  font-style: italic;
  font-weight: 800;
  padding: 4px;
}

.reviews-div {
  width: 35rem;
  height: 13rem;
  overflow: auto;
  margin-top: 10px;
}

.add-shelf-select {
  margin-left: 8px;
  margin-top: 5px;
}

#game-title{
  color: white;
  padding-bottom: 15px;
}

#game-detail-container {
  padding: 20px;
}

#reviews-header{
  color: white;
}

#reviews-section{
  padding: 12px;
}