.clickable-shelf {
  list-style-type: none;
  margin: 3px;
  cursor: pointer;
  width: max-content;
  color: lightblue;

}

#gamer-shelf-header {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

#shelf-input-errors {
display: flex;
flex-direction: column;
align-items: flex-end;
width: 225px;
}

#character-count {
  color: lightblue;
}

#character-count-over {
  color: rgb(200, 50, 50);
}

.errors {
  color: rgb(200, 50, 50);
}