/* TODO Add site wide styles */
text {
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  width: 1500px;
  height: auto;
  background: #171a21;;
}


td{
  text-align: center;
}

.smaller-button {
  font-size: 9px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 3px;
  color: lightblue;
}

.x-button {
  background: transparent;
  cursor: pointer;
  border: none;
  color: red;
}