/* TODO Add site wide styles */
text {
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

#wrapped {
  border: 1px solid red;
  width: 100%;
  height: auto
}

td{
  text-align: center;
}