#login-content {
  width: 20rem;
  height: 16.5rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


#sliding-one {
  position:absolute;
  width: 100%;
  margin: 0 auto;	
  top:0;
}

#sliding-two {
  position: absolute;
  top: 37%;

  width: 100%;
    margin: 0 auto;	
}

#sliding-three {
  position: absolute;
  bottom: 26%;

  width: 100%;
  margin: 0 auto;	
}

#login-btn {
  background: transparent;
  color: #00adec;
  border: 1px solid #00adec;
  cursor: pointer;
}

#login-wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#logo-login {
  height: 5rem;
  width: 15rem;
}

