#login-content {
  width: 375px;
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65rem;
  height: 900px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


#sliding-one {
  position:absolute;
  width: 65rem;
  margin: 0 auto;	
  top:0;
 
}

#sliding-two {
  position: absolute;
  top: 37%;

  width: 65rem;
    margin: 0 auto;	
}

#sliding-three {
  position: absolute;
  bottom: 26%;

  width: 65rem;
  margin: 0 auto;	
}

#login-btn {
  background: transparent;
  color: #00adec;
  border: 1px solid #00adec;
  cursor: pointer;
}

#login-wrap{
  width: 65rem;
  height: 950px;
  display: flex;
  justify-content: center;
}

#logo-login {
  height: 100px;
  width: 300px;
}

