.profile-dropdown {
  position: absolute;
  z-index: 1;
  background-color: #1f2126;
  display: flex;
  padding: 12px;
  flex-direction: column;
  width: 6rem;
  border-radius: 15px;
  height: 6rem;
  overflow: auto;
}

#navbar-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 65rem;
}

#navbar-div > * {
  height: 25px;
}

#logo {
  height: 100px;
  width: 300px;
}

#navbar-btn-div {
  top: 5rem;
}

.navbar-btns {
  background: transparent;
  color: #00adec;
  cursor: pointer;
  text-decoration: none;
  padding: 12px;
  margin-left: 10px;
}
.navbar-btns:hover {
  background: gray;
  color: white;
  border-radius: 10px;
}

.navbar-btns-active {
  background: #626262;
  color: white;
  border-radius: 10px;
}