

#navbar-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:7.81rem;
  width: 81.25rem;
}

#navbar-div > * {
  height: 1.56rem;
}

#logo {
  position: absolute;
  left: 20vw;
  top: 1vh;
  height: 6.25rem;
  width: 18.75rem;
}

#navbar-btn-div {
  position: absolute;
  left: 20vw;
  top: 12.5vh;
}

.navbar-btns {
  background: transparent;
  color: #00adec;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75rem;
  margin-left: 0.625rem;
}
.navbar-btns:hover {
  background: gray;
  color: white;
  border-radius: 10px;
}

.navbar-btns-active {
  background: #626262;
  color: white;
  border-radius: 10px;
}